!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  #footer
    a(href='/') Home | 
    a(href='/login') Login | 
    a(href='/view') View | 
    a(href='/about') About
