!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  br
  #footer(style="float: left; clear: left")
    a(href='/') Home | 
    if(user.username != null)
      a(href='/logout') Logout | 
    else
      a(href='/login') Login | 
    a(href='/test') Test | 
    a(href='/about') About
    <br/i>
    a(href='/engine') Equation Engine
