h1= title

if(typeof(result) != 'undefined' && result.success == true)
  p You have been logged in!

else
  p Please login: 
  form(action="/login", method="post")
    p User:
      input(type="text", name="username")
    p Pass:
      input(type="password", name="password")
    p
      input(type="submit", name="submit", value="Login")
