#test-view-user(data-role="page")
  div(data-role="header")
    h1 Math Clinic - View Tests
  div(data-role="content")
    //div#graph(style="width: auto; height: 200px; margin: 8px auto;")
    div.answers(data-role="collapsible-set")
  script(type='text/javascript', src=basepath+'/js/flotr2.min.js')
