#test(data-role="page")
  div(data-role="header")
    h1= title
  div(data-role="content")
    if(typeof(req) != 'undefined' && typeof(req.submit) != 'undefined')
      p You answered in #{result.time} milliseconds!
    else
      script(type='text/javascript')
        var start = $('input[name=start]');
        var finish = $('input[name=finish]');
        $('#test').on('pageshow', function(){ start.val(new Date().valueOf()); });
        $('#test').submit( function(){ finish.val(new Date().valueOf()); });
      p Please Answer the question:
      p= ""
      form(name="test", action=basepath+"/test", method="post")
        p Answer:
          input(type="text", name="answer")
          input(type="hidden", name="start")
          input(type="hidden", name="finish")
          input(type="hidden", name="question", value="")
        p
          input(type="submit", name="submit", value="Answer")
