#test-take(data-role="page")
  div(data-role="header")
    h1= title
  div(data-role="content")
    if(typeof(req) != 'undefined' && typeof(req.submit) != 'undefined')
      p You answered in #{result.time} milliseconds!
    - var question = "2+2";
    p What is <span id="question">#{question}</span>?
    form(id="test-take-form")
      #fieldcontain
        p Answer:
          input(type="text", name="answer")
      input(type="hidden", name="question", value=question)
      button(type="submit")
        |Answer
