#test-take(data-role="page")
  div(data-role="header")
    h1 Math Clinic - Take Test
  div(data-role="content")
    #left(style="float: left;")
      span.question
      form.equation
        label(for='eq') Please Select an Equation
        select(id='eq')
        button(type="button") Take Test
    #right(style="float: right")
      //- Numpad Code
      ul#numpad
        li.symbol
          span 7
        li.symbol
          span 8
        li.symbol
          span 9
        li.symbol
          span 4
        li.symbol
          span 5
        li.symbol
          span 6
        li.symbol
          span 1
        li.symbol
          span 2
        li.symbol
          span 3
        li.symbol.zero
          span 0
        li.symbol
          span .
        li.symbol.delete
          span &#8592;
    form.question
      input(type="number", id="answer", name="answer", autofocus="autofocus")
      input(type="hidden", name="question")
      button(type="submit") Answer
    a(href="#test-complete") Complete Test
