#test-complete(data-role="page")
  div(data-role="header")
    h1 Math Clinic - Test Completed
  div(data-role="content")
    div#graph(style="width: 600px; height: 200px; margin: 8px auto;")
    div.answers
  script(type='text/javascript', src=basepath+'/js/flotr2.min.js')
