#test-take(data-role="page")
  div(data-role="header")
    h1= title
  div(data-role="content")
    if(typeof(req) != 'undefined' && typeof(req.submit) != 'undefined')
      p You answered in #{result.time} milliseconds!
    p Please Answer the question:
    p= ""
    form(id="test-take-form")
      p Answer:
        input(type="text", name="answer")
        input(type="hidden", name="start")
        input(type="hidden", name="finish")
        input(type="hidden", name="question")
      p
        button(type="submit", name="submit")
          |Answer
